{% extends "archive.html" %}

{% block title %}
	<div class="header">
		<h1>Posts tagged <b>{{ page.title }}</b></h1>
	</div>
{% endblock %}

{% block main %}
	<ul class="list">
		{%- for item in index %}
			<li>
				<a href='{{ item.rel_url }}'>{{ item.title }}</a><br>
				<small class="text-muted">Created at {{ item.created|strftime(commons.date_format) }}{%- if item.tags %} • Tags: {{ macros.tags_list(item.tags) }}{%- endif %} • Words: {{ item.content|wordcount }}</small>
			</li>
		{%- endfor %}
	</ul>
{% endblock %}
