body {
	padding-top: 20px !important;
	padding-bottom: 40px;
}

h1 {
	margin: 40px 0 20px 0;
}

p strong {
	font-weight: normal;
	color: inherit;
	background-color: #ffffdd;
}

@media print {
	.noprint {
		display:none;
	}
}

.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}

.right {
	text-align: right;
}

.muted a {
	color: #999;
}
