{% macro tags_list(tags, inline=False, add_hash=False) -%}
{#
	Generate a list of linked tag
#}

{% if inline -%}<span class="tags">{%- else -%}<div class="tags">{%- endif -%}
	{%- for tag in tags -%}
		<a href="{{ tag.url }}">{% if add_hash %}#{% endif %}{{ tag.name }}</a>{% if not loop.last %}, {% endif %}
	{%- endfor -%}
{% if inline -%}</span>{%- else -%}</div>{%- endif -%}

{%- endmacro -%}



{% macro google_analytics(tags, inline=False, add_hash=False) -%}
{#
	Inserts Google Analytics code

	This macro is derived from the Octopress template,
	https://github.com/imathis/octopress
#}

{% if google_analytics_tracking_id %}
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', '{{ google_analytics_tracking_id }}']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
{% endif %}

{%- endmacro -%}


{% macro disqus(tags, inline=False, add_hash=False) -%}
{#
	Inserts Disqus code

	This macro is derived from the Octopress template,
	https://github.com/imathis/octopress
#}

{% if site.disqus_short_name %}
<script type="text/javascript">
			var disqus_shortname = '{{ site.disqus_short_name }}';
			{% if page.comments == true %}
				// var disqus_developer = 1;
				var disqus_identifier = '';
				var disqus_url = '';
				var disqus_script = 'embed.js';
			{% else %}
				var disqus_script = 'count.js';
			{% endif %}
		(function () {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		}());
</script>

{% endif %}

{%- endmacro -%}


{% macro list(index) -%}
{#
	Post list generation with year sections
#}

{%- for item in index -%}
	{%- if loop.first -%}
		{%- set last_year = item.created.year -%}

<h2 class="list-year">{{ item.created.year }}</h2>
<ul class="list">

	{%- elif last_year != item.created.year -%}
		{%- set last_year = item.created.year -%}

</ul>
<h2 class="list-year">{{ item.created.year }}</h2>
<ul class="list">

	{%- endif -%}

<li>
<a href='{{ item.rel_url }}'>{{ item.title }}</a><br>
<small class="text-muted">Created at {{ item.created|date }}{%- if item.tags %} • Tags: {{ tags_list(item.tags, inline=True) }}{%- endif %} • Words: {{ item.content|wordcount }}</small>
</li>

{%- endfor -%}

</ul>

{%- endmacro -%}


{% macro plain_list(index) -%}
{#
	Plain post list
#}

<ul class="list">
	{%- for item in index %}
	<li>
		<a href='{{ item.rel_url }}'>{{ item.title }}</a><br>
		<small class="text-muted">Created at {{ item.created|date }}{%- if item.tags %} • Tags: {{ tags_list(item.tags, inline=True) }}{%- endif %} • Words: {{ item.content|wordcount }}</small>
	</li>
	{%- endfor %}
</ul>

{%- endmacro -%}
