{% macro tags_list(tags, inline=False, add_hash=False) -%}

{% if inline -%}<span class="tags">{%- else -%}<div class="tags">{%- endif -%}
	{%- for tag in tags -%}
		<a href="{{ tag.url }}">{% if add_hash %}#{% endif %}{{ tag.name }}</a>{% if not loop.last %}, {% endif %}
	{%- endfor -%}
{% if inline -%}</span>{%- else -%}</div>{%- endif -%}

{%- endmacro -%}


{% macro google_analytics(tags, inline=False, add_hash=False) -%}

{%- comment %} (c) Octopress, https://github.com/imathis/octopress {% endcomment -%}

{% if google_analytics_tracking_id %}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ google_analytics_tracking_id }}']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
{% endif %}

{%- endmacro -%}


{% macro disqus(tags, inline=False, add_hash=False) -%}

{%- comment %} (c) Octopress, https://github.com/imathis/octopress {% endcomment -%}

{% if site.disqus_short_name %}
<script type="text/javascript">
      var disqus_shortname = '{{ site.disqus_short_name }}';
      {% if page.comments == true %}
        {% comment %} `page.comments` can be only be set to true on pages/posts, so we embed the comments here. {% endcomment %}
        // var disqus_developer = 1;
        var disqus_identifier = '{{ site.url }}{{ page.url }}';
        var disqus_url = '{{ site.url }}{{ page.url }}';
        var disqus_script = 'embed.js';
      {% else %}
        {% comment %} As `page.comments` is empty, we must be on the index page. {% endcomment %}
        var disqus_script = 'count.js';
      {% endif %}
    (function () {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>

{% endif %}
