{% import '_macros.html' as macros -%}
{% include '_header.html' %}

<article class="post">
<header>
<h1>{{ page.title }}</h1>
<p class="muted small"><time pubdate datetime="{{ page.created|isodatetime }}"><a href="{{ page.url }}">{{ page.created|date }}</a></time> • Tags: {{ macros.tags_list(page.tags, inline=True) }}{%- if page.source_url %} • <a href="{{ page.source_url }}">Source</a>{% endif -%}</p>
</header>
{{ page.content }}
</article>

<div class="muted small flipper">
{%- if page.prev_url %}&larr;&nbsp;<a href="{{ page.prev_url }}" title="{{ page.prev_title }}">Ctrl+Left</a>{%- if page.next_url %} / {% endif %}{%- endif -%}
{%- if page.next_url %}<a href="{{ page.next_url }}" title="{{ page.next_title }}">Ctrl+Right</a>&nbsp;&rarr;{% endif -%}
</div>
{% include '_footer.html' -%}
