{% import '_macros.html' as macros -%}
{% include '_header.html' %}
{{ content }}
{{ macros.tags_list(tags) }}
<div class="row-fluid muted">
{%- set lclass = ' class="span6"' if prev_url and next_url else '' -%}
{%- set rclass = ' class="span6 right"' if prev_url and next_url else ' class="right"' -%}
{%- if prev_url %}
<div{{ lclass }}>&larr;&nbsp;<a href="{{ prev_url }}">{{ prev_title }}</a></div>
{% endif -%}
{%- if next_url %}
<div{{ rclass }}><a href="{{ next_url }}">{{ next_title }}</a>&nbsp;&rarr;</div>
{% endif -%}
</div>
{% include '_footer.html' -%}
